name: Daily Commit

on:
  schedule:
    - cron: "0 7 * * *" 
  workflow_dispatch:

permissions:
  contents: write

jobs:
  commit-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update activity file
        run: |
          echo "Updated on $(date -u)" >> activity.log

      - name: Commit changes
        run: |
          git config --global user.name "imedkablavi"
          git config --global user.email "235509601@firat.edu.tr"
          git add .
          git commit -m "Daily activity" || echo "No changes to commit"
          git push
